body{
    background-color: gainsboro;
}

.app-container{
    margin-left: auto;
    margin-right: auto;
    width: 512px;
    margin-top: 6rem;
}

.app-title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    background-color: #00b3cac2;
    color: white;
    padding: 8px;
}

.app-content{
    background-color: white;
}

.app-input-container{
    display: flex;
}

.app-input{
    border: none;
    line-height: 1.5rem;
    flex: 1;
    font-size: 1.1rem;
    background-color: #414141c2;
    color: white;
    padding: 8px;
}

.app-input::placeholder{
    color: white;
}

.app-input-button{
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
}

li{
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2rem;
    padding: 1rem;
    border-bottom: 1px solid #7e7e7ec2;
}

li>.todo-item{
    display: flex;
}

.todo-item>input[type=checkbox]:checked + .text{
    color: black;
    text-decoration: line-through;
}

.app-delete-todo-button{
    height: 8px;
    line-height: 8px;
    padding: 8px;
    display: inline-block;
    border: 1px solid red;
    background-color: white;
    color: red;
    border-radius: 50%;
}

.app-delete-todo-button:hover{
    background-color: red;
    color: white;
}