h1, h2, h3, h4, h5, h6, input, button{
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

button {
	border: none;
	background-color: transparent;
}

form {
	width: 100%;
}

.todo_main_container {
	display: flex;
	height: 100vh;
	padding: 0 50px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

input[type="checkbox"] {
	outline: none;
	border:none;
	appearance: none;
	background-image:none;
	background-color:transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;  
}