:root {
  --blue: #21b8cf;
}

.toDoList {
  width: 70vw;
  height: 25rem;
  max-width: 700px;
  background-color: antiquewhite;
  color: white;
}

.header {
  width: 100%;
  height: 5rem;
  background-color: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.addForm {
  width: 100%;
  height: 3rem;
  display: flex;
}
.input {
  flex: 9;
  background-color: black;
  color: white;
  padding-left: 1rem;
  box-sizing: border-box;
}
.input::placeholder {
  color: white;
}
.plusBtn {
  flex: 1;
}
.plusBtn:hover {
  cursor: pointer;
}

.tasks {
  width: 100%;
  height: 17rem;
  overflow-y: scroll;
}
.li {
  width: 100%;
  list-style: none;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  box-sizing: border-box;
  border-bottom: 0.5px solid gainsboro;
}
input[type='checkbox']:checked + label {
  text-decoration: line-through;
}
.task {
  padding-left: 1rem;
  color: black;
}
.delBtn {
  border: none;
  background-color: transparent;
  color: red;
}
.delBtn:hover {
  cursor: pointer;
}
