html,
body,
div,
span,
h1,
p,
i,
ul,
li,
form,
label,
footer,
header,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

footer,
header,
section {
  display: block;
}

ul,
li {
  list-style: none;
}

input,
button {
  border: none;
}
