:root {
  --blue: #21b8cf;
}

.toDoList {
  width: 70vw;
  height: 80vh;
  background-color: antiquewhite;
  color: white;
}

.header {
  width: 100%;
  height: 5rem;
  background-color: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
}
